@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Barlow+Semi+Condensed:wght@400;600;700&family=Figtree:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
body {
  background-image: linear-gradient(to bottom, #1F3757 , #131537);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header-card {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 311px;
  height: 96px;

}
.logo {
  width: 83px;
  height: 48px;
  margin: 22px;
}
.score-card {
  margin: 20px;
  border-radius: 4px;
  background-color: #fff;
  width: 80px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.score-title {
  color: #2A45C2;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.56px;
}
.score {
  line-height: 40px;
  font-weight: 700;
  color: #565468;
  font-size: 40px;
}
.game-screen {

}
.game-choice {
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 166px 181px;
  width: 312px;
  height: 282px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.choice {
  cursor: pointer;
}
.choice:hover:after {
  content: "";
  width: 252px;
  height: 248px;
  background-color: #979797;
}
.oval-one-small {
  width: 130px;
  height: 133px;
}
.oval-two-small {
  width: 129.37px;
  height: 126.78px;
}
.oval-three-small {
  width: 100px;
  height: 100px;
}
.oval-four-small {
  width: 99.31px;
  height: 94.1px;
}
.oval-one-large {
  width: 129.37px;
  height: 126.78px;
}
.oval-two-large {
  width: 292.61px;
  height: 286.7px;
}
.oval-three-large {
  width: 100px;
  height: 100px;
}
.oval-four-large {
  width: 99.31px;
  height: 94.1px;
}
.paper-oval {
  border-radius: 100%;
  background-color: #2A45C2;
}
.inner-paper-oval {
  border-radius: 100%;
  background-color: #4664F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rock-oval {
  border-radius: 100%;
  background-color: #9D1634;
}
.inner-rock-oval {
  border-radius: 100%;
  background-color: #DB2E4D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scissors-oval {
  border-radius: 100%;
  background-color: #C76C1B;
}
.inner-scissors-oval {
  border-radius: 100%;
  background-color: #EB9F0E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-shadow-oval {
  background-color: #979797;
  border-radius: 100%;
  display: flex;
  align-items: flex-end;
}
.white-oval {
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.battle-screen {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.choice-text-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 700px;
}
.choice-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
}
.choice-cards-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 700px;
}
.choice-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 430px;
}
.choice-holder {
  height: 224px;
  width: 224px;
  border-radius: 100%;
  background-color: rgba(0,0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-rock-small {
  width: 41.82px;
  height: 41.82px;
}
.icon-paper-small {
  width: 43.91px;
  height: 52.82px;
}
.icon-scissors-small {
  width: 35.33px;
  height: 52.27px;
}
.icon-rock-large {
  width: 41.82px;
  height: 41.82px;
}
.icon-paper-large {
  width: 43.91px;
  height: 52.82px;
}
.icon-scissors-large {
  width: 35.33px;
  height: 52.27px;
}
.rules-button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  width: 128px;
  height: 40px;
  cursor: pointer;
  letter-spacing: 2.5px;
  font-size: 16px;
}
.hover:hover {
  background-color: #fff;
  color: #3B4262
}
.modal-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #fff;
  height: 415px;
  width: 400px;
  border-radius: 8px;
  background-image: url('../images/image-rules.svg');
  background-repeat: no-repeat;
  background-position: 50% 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  color: #3B4262;
  text-transform: uppercase;
  margin: 28px 32px;
}
.close-modal {
  color: #3B4262;
  font-size: 20px;
  cursor: pointer;
  margin: 28px 32px;
}
.result-box {
  width: 220px;
  height: 131px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 77px;
  margin-right: 77px;
}
.result-text {
  width: 218px;
  height: 67px;
  font-weight: 800;
  font-size: 56px;
  text-transform: uppercase;
  text-align: center;
}
.reset-button {
  width: 220px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #3B4262;
  border: none;

}
.reset-button:hover {
  color: #DB2E4D;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media only screen and (min-width: 1080px) {
  .header-card {
    border-radius: 15px;
    width: 700px;
    height: 150px;
  }
  .logo {
    height: 96px;
    width: 159px;
    margin: 22px;
  }
  .score-card {
    width: 150px;
    height: 114px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #F3F3F3 , #FFFFFF);
  }
  .score-title {
    font-size: 16px;
    letter-spacing: 2.5px;
  }
  .game-choice {
    background-size: 254px 287px;
    width: 476px;
    height: 430px;
  }
  .score {
    line-height: 64px;
    font-size: 64px;
  }
  .game-choice {
    width: 476px;
    height: 430px;
  }
  .oval-one-small {
    width: 198px;
    height: 203px;
  }
  .oval-two-small {
    width: 198px;
    height: 194px;
  }
  .oval-three-small {
    width: 152px;
    height: 152px;
  }
  .oval-four-small {
    width: 152px;
    height: 144px;
  }
  .oval-one-large {
    width: 292.61px;
    height: 300px;
  }
  .oval-two-large {
    width: 292.61px;
    height: 286.7px;
  }
  .oval-three-large {
    width: 224.63px;
    height: 224.63px;
  }
  .oval-four-large {
    width: 224.63px;
    height: 212.81px;
  }
  .rules-button {
    position: fixed;
    right: 50px;
    bottom: 20px;
  }
  .icon-rock-small {
    width: 64px;
    height: 64px;
  }
  .icon-paper-small {
    width: 67.21px;
    height: 80px;
  }
  .icon-scissors-small {
    width: 54.07px;
    height: 80px;
  }
  .icon-rock-large {
    width: 94.58px;
    height: 94.58px;
  }
  .icon-paper-large {
    width: 99.32px;
    height: 118.23px;
  }
  .icon-scissors-large {
    width: 79.9px;
    height: 118.23px;
  }
  .battle-screen {
    flex-direction: column-reverse;
  }
}
